// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: #111;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 0 0;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
}

.error {
  color: #D95852;
}

.alert-success {
  background-color: #89D77C;
  color: #268018;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 32px;
}

.alert-fail {
  background-color: #D95852;
  color: #810C07;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 32px;
}

.contact-list {
  color: #111;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

.contact-detail {
  color: #111;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 0;
  text-align: center;
}

.link {
  color: #111;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-align: left;
}

.form {
  color: #111;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: 32px;
  width: 400px;
  margin: 0 auto;
}

// http://stackoverflow.com/questions/39389588/align-label-and-text-field-in-a-same-line-rails
label {
    display: inline-block;
    width: 125px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

// http://cssdeck.com/labs/purely-css
.button {
  display: inline-block;
	color: #111;
	background-color: #eee;
  font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,1);
	border-bottom-width: 3px;
}

.button:hover {
  background-color: #e3e3e3;
  border-color: rgba(0,0,0,0.5);;
}

.button:active {
  background-color: #CCC;
  border-color: rgba(0,0,0,0.9);
}

// http://www.w3schools.com/howto/howto_css_dropdown.asp
/* Dropdown */
.dropbtn {
    background-color: #0C115B;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #B9BACA
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0C115B;
}
